<div class="px-5 pt-2">

<h1>Edit Student</h1>
<p>ID</p>
<%= form_with model: @student, class: "nifty_form", url: student_url(id:@student.id), method: :patch do |f| %>
  <p><%= f.text_field :gradYear ,size: "30x1", placeholder: @student.gradYear%></p>
  <p>Student ID</p>
  <p><%= f.text_field :studentID ,size: "30x1", placeholder: @student.studentID%></p>
  <p>First Name</p>
  <p><%= f.text_field :firstName, size: "30x1", placeholder: @student.firstName %></p>
  <p>Last Name</p>
  <p><%= f.text_field :lastName, size: "30x1", placeholder: @student.lastName %></p>
  <p>Balance</p>
  <p><%= f.text_field :balance, size: "10x1", placeholder: @student.balance %></p>
  <p><%= f.submit "Save Changes", class: "bg-primary text-light rounded p-1"%> <%=link_to "View All Students", students_url %></p>
<% end %>
</div>
