<p id="notice"><%= notice %></p>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<h1>Students</h1>
<% if current_user.roles.include?(Role.find_by(title: "Class Advisor")) %>
  <p><% link_to "Email Dues Reminder", email_students_url %></p>
<% end %>

<table id="students">

  <thead>
    <tr>
      <th>Gradyear</th>
      <th>Name</th>
      <th>Studentid</th>
      <th>Paidbalance</th>
      <th>Email</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% if current_user.roles.include?(Role.find_by(title: "Class Advisor")) %>
      <%= link_to 'New Student', new_student_path %>
    <% end %>
    <% @students.each do |student| %>

      <% if ((current_user.graduationYear == student.graduating_class.gradYear || current_user.roles.include?(Role.find_by(title: "Administrator")))&&(student.graduating_class.gradYear == @year.to_i || @year.to_i == 0)) %>

      <tr>
        <td><%= student.graduating_class.gradYear %></td>
        <td><%= student.firstName %> <%= student.lastName %></td>
        <td><%= student.studentID %></td>
        <td>$<%= student.balance %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Show', student %>

        <% if current_user.roles.include?(Role.find_by(title: "Class Advisor"))  %>
          | <%= link_to 'Edit', edit_student_path(student) %>
          | <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
        <% if current_user.roles.include?(Role.find_by(title: "Class Treasurer")) || current_user.roles.include?(Role.find_by(title: "Class Advisor")) %>
        | <%= link_to 'Pay Dues', payDues_students_url(:id => student.id)%></td>
        <% end %>

      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.roles.include?(Role.find_by(title: "Administrator")) %>
  <%= link_to 'New Student', new_student_path %>
<% end %>
