<div class="px-5 pt-2">

<h1>Pay Dues</h1>

<%= form_with model: @student, class: "nifty_form", url: student_url(id:@student.id), method: :patch do |f| %>
<p><%= f.hidden_field :gradYear%></p>
<p><%= f.hidden_field :studentID%></p>
<p><%= f.hidden_field :firstName %></p>
<p><%= f.hidden_field :lastName%></p>
<p>Enter the amount of the payment:</p>
<p><%= f.text_field :paidBalance%></p>
<p><%= f.hidden_field :balance, value: ':balance-:paidBalance'.to_i %></p>
  <p><%= f.submit "Confirm Payment", class: "bg-primary text-light rounded p-1"%> <%=link_to "View All Students", students_url %></p>
<% end %>
</div>
