<p id="notice"><%= notice %></p>

<p>
  <strong>Gradyear:</strong>
  <%= @student.gradYear %>
</p>


<p>
  <strong>Firstname:</strong>
  <%= @student.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Studentid:</strong>
  <%= @student.studentID %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @student.balance %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
<%= link_to "Pay Dues", payDues_students_url(:id => @student.id)%>
