<div class="border-bottom w-50 mx-auto mt-5">
  <div>
    <h2><%= @student.studentID %></h2>
  </div>
  <div>
    <h4>Name: <%= @student.firstName %> <%= @student.lastName %></h4>
  </div>
  <div>
    <h4>Balance Remaining: $<%= @student.balance %></h4>
  </div>
  <p><%= link_to "Edit Student", edit_student_url(:id => @student.id)%> | <%= link_to "Delete Student", students_delete_url(:id => @student.id)%></p>
</div>
