<p id="notice"><%= notice %></p>

<p>
  <strong>Gradyear:</strong>
  <%= @student.graduating_class.gradYear %>
</p>


<p>
  <strong>Firstname:</strong>
  <%= @student.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Studentid:</strong>
  <%= @student.studentID %>
</p>

<p>
  <strong>Balance:</strong>
  $<%= @student.balance %>
</p>




<div>
  <h2>Past Transactions</h2>
  <% @student.receipts.each do |r| %>
    <p>Paid by: <%= r.firstName %> <%= r.lastName %></p>
    <p>Paid to: <%= r.recievedFrom %></p>
    <p>Paid on: <%= r.dateAccepted %></p>
    <p class="border-bottom">Payment amount: <%= r.paidBalance %></p>
  <% end %>
</div>



<br>

<% if (current_user.roles.include?(Role.find_by(title: "Administrator"))|| current_user.roles.include?(Role.find_by(title: "Class Advisor")))%>
  <%= link_to 'Edit', edit_student_path(@student) %> |
<% end %>
<%= link_to 'Back', students_path %>
<% if not current_user.roles.include?(Role.find_by(title: "No Role")) %>
  <%= link_to 'Pay Dues', payDues_students_url(:id => @student.id)%>
<% end %>
