  <div class="row border-top pt-3 ml-5">
    <div class="col-sm-1">
      <p><strong>Graduation Year</strong></p>
    </div>
    <div class="col-sm-3">
      <p><strong>Email</strong></p>
    </div>
    <div class="col-sm-3">
      <p><strong>Roles</strong></p>
    </div>
    <div class="col-sm-5">
      <p><strong>Edit Roles</strong></p>
    </div>
  </div>
  <% @users.each do |u| %>
  <% if current_user.roles.include?(Role.where(title: "Class Advisor").take)%>
    <% if not u.roles.include?(Role.where(title: "Administrator").take) || u.graduationYear != current_user.graduationYear%>
    <div class="row border-top pt-3 ml-5">
      <div class="col-sm-1">
        <strong><%= u.graduationYear %></strong>
      </div>
      <div class="col-sm-3">
        <p><strong><%= u.email %></strong></p>
      </div>
      <div class="col-sm-3">
        <% u.roles.each do |r| %>
        <p><%= r.title%></p>
        <% end %>
      </div>
      <div class="col-sm-5">
        <%= form_with(class: "nifty_form", url: users_updateRoles_path(:user_id => u.id), method: "post", local: true) do |f| %>
          <% @roles.each do |role| %>
            <% if not role.title == "Administrator" %>
              <%= f.check_box :role, {multiple: true, checked: u.roles.include?(role)}, role.id, nil %>
              <%= f.label(:role, role.title) %>
            <% end %>
          <% end %>
          <%= f.submit("Update") %>
        <% end %>
        <% if u.roles.include?(Role.where(title: "No Role").take) || u.roles.include?(Role.where(title: "Class Treasurer").take) || u.roles.empty?   %>
          <%= link_to 'Delete User', users_destroy_url(:id => u.id), method: :get, data: {confirm: 'Are you sure you want to delete this user?' } %>
        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% if current_user.roles.include?(Role.where(title: "Administrator").take) %>
      <div class="row border-top pt-3 ml-5">
        <div class="col-sm-1">
          <strong><%= u.graduationYear %></strong>
        </div>
        <div class="col-sm-3">
          <p><strong><%= u.email %></strong></p>
        </div>
        <div class="col-sm-3">
          <% u.roles.each do |r| %>
          <p><%= r.title%></p>
          <% end %>
        </div>
        <div class="col-sm-5">
          <%= form_with(class: "nifty_form", url: users_updateRoles_path(:user_id => u.id), method: "post", local: true) do |f| %>
            <% @roles.each do |role| %>
              <% if true%>
                <%= f.check_box :role, {multiple: true, checked: u.roles.include?(role)}, role.id, nil %>
                  <%= f.label(:role, role.title) %>
                <% end %>
              <% end %>
              <%= f.submit("Update") %>
            <% end %>
            <%= link_to 'Delete User', users_destroy_url(:id => u.id), method: :get, data: {confirm: 'Are you sure you want to delete this user?' } %>
          </div>
        </div>
      <% end %>
  <% end %>
