<p id="notice"><%= notice %></p>

<h1>Graduating Classes</h1>

<table>
  <thead>
    <tr>
      <th>Gradyear</th>
      <th>Classadvisorone</th>
      <th>Classadvisortwo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graduating_classes.each do |graduating_class| %>
      <tr>
        <td><%= graduating_class.gradYear %></td>
        <td><%= graduating_class.classAdvisorOne %></td>
        <td><%= graduating_class.classAdvisorTwo %></td>
        <td><%= link_to 'Show', graduating_class %></td>
        <td><%= link_to 'Edit', edit_graduating_class_path(graduating_class) %></td>
        <td><%= link_to 'Destroy', graduating_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graduating Class', new_graduating_class_path %>
