
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @student.firstName %> <%= @student.lastName %>,</h1>
    <p>
      You still owe class dues!
      Your unpaid balance equals $<%= @student.balance %> and must be up to date for you to attend school events.
      <br>Date: <%= Date.today %>
    </p>

    <p>Sincerely, <br>The Class of <%= @student.graduating_class.gradYear %></p>
  </body>
